.idea
venv/
postgres/
.env
db.postgres
*.db


#Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#pcharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf